//
// Colors
// ___________________________________

@color-dark-blue: #00008b;


//
// Header
// ____________________________________

@header-panel__background-color: @color-dark-blue;

//
// Navigation
//
@navigation__background: @color-blue1;
@navigation-desktop-level0-item__color: @color-white;
@navigation-desktop-level0-item__active__color: @color-gray91;
@navigation-desktop-level0-item__hover__color: @color-gray91;
@submenu-desktop-item__color: @color-black;
@submenu-desktop-item__hover__color: @color-black;

//
// Footer
// ____________________________________

@_link-color-visited: @color-white;
@_link-text-decoration-visited: @color-white;
@copyright__background-color: @color-dark-blue;

