<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Arteml\InteractiveChat\Controller\InteractiveChat\SendMessage">
        <arguments>
            <argument name="customerSession" xsi:type="object">\Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Arteml\InteractiveChat\Controller\InteractiveChat\GetMessageList">
        <arguments>
            <argument name="customerSession" xsi:type="object">\Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Arteml\InteractiveChat\Observer\BindCustomerIdToChat">
        <arguments>
            <argument name="customerSession" xsi:type="object">\Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>