& when (@media-common = true) {
    .wrapper-for-chat-window {
        margin: 0;
        font-size: 14px;
        position: fixed;
        z-index: 14;
        border: 2px solid @color-dark-blue;
        background: @color-white;
        border-right: none;
        border-radius: 5px;
        right: 0;
        top: 20px;
        width: 100%;
        max-width: 400px;
        transition: transform .7s ease;

        .chat-form {
            padding-bottom: 40px;
        }

        fieldset {
            margin-bottom: 40px;
        }

        .header-chat-form {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            background: @color-dark-blue;
            color: @color-white;
            padding: 10px;

            .operator-icon {
                display: flex;
            }

            .close-btn {
                color: @color-red9;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .chat-history {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            height: 350px;
            border-bottom: 2px solid @color-dark-blue;

            .operator-message {
                background: @color-info__bootstrap;
                align-self: flex-start;
                margin-left: 10px;
            }

            .user-message {
                margin-right: 10px;
                background: @color-success;
                align-self: flex-end;
            }

            .operator-message,
            .user-message {
                display: flex;
                flex-direction: column;
                margin-top: 5px;
                margin-bottom: 5px;
                color: @color-white;
                max-width: 48%;
                word-break: break-word;
                padding: 5px 10px 5px 10px;
                border-radius: 0.25rem;
            }

            .chat-time {
                color: @color-black;
                font-size: 12px;
                align-self: flex-end;
            }
        }

        .user-text-area {
            margin: auto;
            box-sizing: border-box;

            & > label {
                padding-left: 20px;
            }

            & > div {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .actions-toolbar {
            display: flex;
            justify-content: center;

            & > .primary {
                max-width: 200px;
                width: 100%;

                .action.submit.primary {
                    &:focus,
                    &:active {
                        background: @color-blue1;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    div.wrapper-for-chat-window {
        width: 90%;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    div.wrapper-for-chat-window {
        top: unset;
        bottom: 0;
        border-bottom: none;

        .actions-toolbar > .primary {
            max-width: 300px;
            width: 100%;

            .action.submit.primary {
                width: 100%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    div.wrapper-for-chat-window {
        font-size: 16px;

        .action.submit.primary,
        textarea {
            font-size: 16px;
        }
    }
}